*  {
margin-bottom: 0px;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
background-color:;
}

.infotop {
background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("pc201bgtemp8.png");
 


  background-position: center;
  background-repeat: no-repeat;
    
  background-size: 100;
text-align: center;
  position: relative;
background-color: aqua;
padding-top: 40;
padding-bottom:160px;
}



.infobanner{
text-align: center;
background-color: #fdff7d;
padding: 15;

}

.toptext {
text-align: center;

}


.menu {
    background-color: mediumseagreen;
    margin: 0PX;
    display: inline-block;
text-align: center;
margin-top: 20;
}
    
.menu2 {
    background-color: mediumseagreen;
    margin: 0PX;
    display: inline-block;
text-align: center;
margin-top: 20;
    }

}
ul {
list-style-type: none;
text-align: center;
 

}

ul li {
text-decoration: none;
display: inline;
text-align: center;
float: left;
  margin-left:;
margin-right: 25;
 
    
}

ul li a {
text-decoration-line: none;
    display: block;
  padding: 10px;
 text-align: center;   
  
   

    
}


.aboutus {
background-color: red;
padding-bottom: 1px;
padding-top: 1px;
padding-bottom:100;
    text-align: center;
}


.services {
background-color: green;
padding-bottom: 1px;
padding-top: 1px;
padding-bottom:100;
text-align: center;
}

.contactus {
background-color: cornflowerblue;
padding-bottom: 1px;
padding-top: 1px;
padding-bottom:100;
text-align: center;
}


